*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .25s;
}
#root{
    height: 100vh;
    max-height: fit-content;
    width: 100vw;
    overflow-x: hidden;
}
header{
    /* position: fixed;
    top: 0;
    left: 0; */
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(10px);
}
aside.aside{
    position: fixed;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    height: 100vh;
    width: 100px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
aside.aside.shown{
    left: 0;
}
aside.aside.hidden{
    left: -100px;
}
aside.aside > button.aside-toggle{
    position: absolute;
    top: 200px;
    left: 100%;
}
aside.aside > div{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
section.drawing-section{
    width: 100vw;
    height: 100vh;
}
aside.edit-bar{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    max-height: fit-content;
    width: 200px;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
aside.edit-bar div{
    width:80%;
}
aside.edit-bar div:has(input[type="color"]){
    width:40px;
}
aside.edit-bar div:has(input[type="color"]) input{
    padding: 5px;
}
main.main-page > section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 90%);
    position: relative;
    width: 100vw;
    height: 100vh;
}
.glass{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
div.welcome-text{
    position: absolute;
    width:clamp(300px,50%,600px);
    height:auto;
    background-color: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 10px );
    border-color: rgba(255, 255, 255,.45);
    border-style: solid;
    border-width: 2px 2px 0 0;
    padding: 20px;
    border-radius: 25px;
}
.cssbuttons-io-button {
    background: #a370f0;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}
form.glass div{
    width: 80%;
}
div.glass-card{
    width: clamp(300px,30%,400px);
    height: 350px;
}
header .nav-link:not(.active){
    background: transparent;
}
header .nav-link.active{
    background: linear-gradient(180deg, transparent, #7b52b9 100%);
    transition: background .5s;
}
.nav-link.hover-link{
    position: relative;
}
.nav-link.hover-link::before{
    position: absolute;
    width: 0;
    height: 5px;
    content: "";
    background-color: #7b52b9;
    bottom: 0;
    left: 0;
}
.nav-link.hover-link:hover:before{
    width: 100%;
    transition:width .25s;
}
aside.aside-left{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
    /*  */
}
aside.aside-left button{
    position: absolute;
    top: 100px;
    left: 100%;
}
aside.aside-left.shown{
    transform: translateX(0);
}
aside.aside-left.hidden{
    transform: translateX(-300px);
}
aside.aside-left > div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    width: 100%;
    padding: 5px;
}
aside.aside-left > div img{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
aside.aside-left > div h4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
aside.aside-left > div p{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}